<h2>Resume</h2>

<mat-card>
  <mat-card-header>
    <h3>Number of Students</h3>
  </mat-card-header>
  <mat-card-content>
    {{ count }}
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <h3>Number of Passed Students</h3>
  </mat-card-header>
  <mat-card-content>
    {{ passed }}
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <h3>Number of Failed Students</h3>
  </mat-card-header>
  <mat-card-content>
    {{ failed }}
  </mat-card-content>
</mat-card>
